.header {
  text-align: center;
  margin-top: 8rem;
}

.no-margin {
  margin-top: 0;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header_logo {
  width: 15rem;
}

.is-small {
  width: 8rem;
}

.header_slogan {
  margin: 0;
  color: var(--secondaryColor);
}
