.input_control {
  display: flex;
  margin-top: 1rem;
}

.is_column {
  flex-direction: column;
}

.input_control_input {
  background: var(--softGreen);
  color: var(--veryDarkBlue);
  border: none;
  border-bottom: 2px solid var(--secondaryDarkColor);
  width: 100%;
  box-sizing: border-box;
  margin-right: 1.2em;
  margin-bottom: 0.2em;
  padding: 1em 0.5em;
  font-size: 1em;
  flex-grow: 1;
  border-radius: 0.2em;
  transition: 0.3s all;
}

.input_control_input_error {
  border-bottom: 2px solid var(--red);
}

.input_control_input:focus {
  outline: none;
}

.input_control_input::placeholder {
  color: var(--softBackground);
  opacity: 0.5;
}

body.dark .input_control_input {
  background-color: var(--softBackground);
  color: var(--ligthCyan);
}

body.dark .input_control_input::placeholder {
  color: var(--ligthCyan);
}

.input_control_label {
  font-size: 0.8em;
  margin-bottom: 0.2em;
}

.input_control_error,
.credentials {
  visibility: visible;
  color: var(--red);
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: 1px;
  margin-left: 0.5em;
  margin-bottom: 0.7em;
}
.generic {
  text-align: center;
  font-size: 0.98em;
}
