.lightbox {
  position: fixed; /* keeps the lightbox window in the current viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.92);
  text-align: center;
  z-index: 999;
  transition: all 0.5s ease-in-out;
}

.button_lightbox {
  position: fixed;
  top: 1em;
  right: 1em;
  width: 50px;
  height: 50px;
}
.container_lightbox {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
