@import "./scroll-bar.css";
@import "./variables.css";
@import "./utilities.css";
@import "./masonry.css";
@import "./input.css";
@import "./header.css";

body {
  font-family: "Source Code Pro", monospace;
  margin: 0;
  font-size: 14px;
  background-color: var(--background);
  color: var(--ligthCyan);
}

hr {
  border-color: var(--secondaryColor);
}
