.header {
  display: flex;
  align-items: center;
  &_logo {
    margin-top: 5rem;
    width: 15rem;
    &_small {
      width: 8rem;
      margin: 0;
    }
  }
  &_slogan {
    margin: 0;
    margin-bottom: 1rem;
    color: $secondary-color;
  }
}

.form_sticky {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: $background-ligth;
  padding: 0.2rem 0;
}

body.dark .form_sticky {
  background-color: $background-dark;
}

.header.center {
  justify-content: center;
}
.header.space-between {
  justify-content: space-between;
}
